name: CI / Build

concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

on:
  push:
    paths:
      - "alpine/**"
      - "debian/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          ## Alpine
          ### Alpine 3.22
          - image: "alpine/3.22/8.4/Dockerfile"
            tags: [ "loeffelhardt/php:latest", "loeffelhardt/php:8.4", "loeffelhardt/php:8.4-alpine3.22" ]
            platforms: [ "linux/amd64", "linux/arm64" ]

          ## Debian
          ### Debian bullseye
          - image: 'debian/bullseye/8.4/Dockerfile'
            tags: [ 'loeffelhardt/php:8.4-debian' ]
            platforms: [ "linux/amd64", "linux/arm64" ]

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.ref == 'refs/heads/main' }}
          file: ${{ matrix.image }}
          tags: ${{ join(matrix.tags) }}
          platforms: ${{ join(matrix.platforms) }}
